<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::title}, ~{::section}, ~{::script})}">
<head>
    <title>JASSISTANT - Billing</title>
</head>
<body>
    <section>
        <div>
            <h1>Billing</h1>

            <form method="get" action="/">
               <div class="form-group required">
                  <label class="control-label" for="input_identifiers">Identifier(s)</label>
                  <input class="form-control" id="input_identifiers" name="input_identifiers" type="text" maxlength="255" required/>
                  <p class="help-block">Please specify the key(s) for the project or accounts to analyse separated by ','.</p>
               </div>
               <div class="form-group">
                   <label class="control-label" for="input_id_type">Identifier type</label>
                   <select class="form-control" id="input_id_type" name="input_id_type">
                       <option value="byProjects" selected="selected">Projects</option>
                       <option value="byAccounts">Accounts</option>
                   </select>
                   <p class="help-block">Please specify the kind of identifier you've provided above.</p>
               </div>
               <div class="form-group required">
                    <label class="control-label" for="input_date_format">Date format</label>
                    <select class="form-control" id="input_date_format" name="input_date_format" required>
                        <option value="byMonth" selected="selected">Month</option>
                        <option value="byDates">Start and end date</option>
                    </select>
                    <p class="help-block">Please state how you what to define the timeframe.</p>
                </div>
               <div class="form-group required">
                  <label class="control-label">Month</label>
                  <div class="form-group">
                      <input class="form-control datepicker-month" id="input_month" name="input_month" placeholder="yyyy-mm" required/>
                   </div>
                  <p class="help-block">Please specify the month to analyze.</p>
               </div>
               <div class="form-group-hidden">
                  <label class="control-label">Start Date</label>
                  <div class="form-group">
                      <input class="form-control datepicker" id="input_start_date" name="input_start_date" placeholder="yyyy-mm-dd"/>
                   </div>
                  <p class="help-block">Please specify the first day of the time window to analyze.</p>
               </div>
               <div class="form-group-hidden">
                  <label class="control-label">End Date</label>
                  <div class="form-group">
                      <input class="form-control datepicker" id="input_end_date" name="input_end_date" placeholder="yyyy-mm-dd"/>
                   </div>
                  <p class="help-block">Please specify the last day of the time window to analyze. This day will not be included in the analysis.</p>
               </div>
               <div class="form-group required">
                  <label class="control-label" for="input_hours_in_a_person_day">Hours in a person-day</label>
                  <input class="form-control" id="input_hours_in_a_person_day" name="input_hours_in_a_person_day" type="text" maxlength="255" value="8" required/>
                  <p class="help-block">Please specify the number of hours in a person-day for your project.<br/>e.g.: 7.7 or 8</p>
               </div>
               <div class="form-group">
                  <label class="control-label" for="input_issue_types">Issue types</label>
                  <input class="form-control" id="input_issue_types" name="input_issue_types" type="text" maxlength="255"/>
                  <p class="help-block">If you want to exclusively get certain issue types provide them here, separated by ','.<br/>e.g.: Arbeitspaket,Defect</p>
               </div>
               <div class="form-group">
                  <label class="control-label" for="input_and_clause">And clause</label>
                  <input class="form-control" id="input_and_clause" name="input_and_clause" type="text" maxlength="255"/>
                  <p class="help-block">Here you can add a clause that will be added to the search query with an AND.<br/>e.g.: "'Story Points' = 2"</p>
               </div>
               <div class="form-group">
                   <label class="control-label" for="input_additional_fields">Additional fields</label>
                   <input class="form-control" id="input_additional_fields" name="input_additional_fields" type="text" maxlength="255"/>
                   <p class="help-block">
                       If you want to add fields to your billing sheet give their names here, separated by ','.<br/>
                       If the field does not use a simple JSON Object with value or JSON array containing JSON objects with value, data structure, the whole JSON will be put into your sheet.
                   </p>
               </div>
               <div class="form-group">
                  <label class="control-label" for="input_links_to_list">Issue links to list</label>
                  <input class="form-control" id="input_links_to_list" name="input_links_to_list" type="text" maxlength="255"/>
                  <p class="help-block">If there are special projects where you want the links listed, provide the project Keys here, separated by ','.</p>
               </div>
               <div class="form-group">
                  <label class="control-label" for="input_additional_accounts">Additional accounts</label>
                  <input class="form-control" id="input_additional_accounts" name="input_additional_accounts" type="text" maxlength="255"/>
                  <p class="help-block">If you want to add accounts give the account keys here, separated by ','.<br/>e.g.: 11861,11927</p>
               </div>
                <div class="form-group" th:replace="~{forms/fragments::output(downloadText='CSV file download')}"></div>
               <div class="form-group">
                  <button class="button button--primary" id="button" type="submit">Send request</button>
               </div>
            </form>
        </div>
    </section>

    <script type="text/javascript">
	   $('.datepicker').datepicker({
		   format: 'yyyy-mm-dd',
		   todayBtn: 'linked',
		   todayHighlight: true,
		   autoclose: true,
		   weekStart: 1
       })
       $('.datepicker-month').datepicker({
           format: 'yyyy-mm',
           todayBtn: 'linked',
           viewMode: "months", 
           minViewMode: "months",
           todayHighlight: true,
           autoclose: true,
           weekStart: 1
       })
       function reactivateButton() {
	       setTimeout(function(){document.getElementById('button').disabled = false;}, 10000);
	   } 
	   (function() {
	        var form = document.getElementsByTagName('form')[0];
	        
	        document.getElementById('input_id_type').addEventListener('change', function(evt) {
                
	            var idType = document.getElementById('input_id_type').value;
                
                if(idType === 'byProjects') {
                    document.getElementById('input_additional_accounts').parentNode.setAttribute('class', 'form-group');
                } else if (idType === 'byAccounts') {
                    document.getElementById('input_additional_accounts').parentNode.setAttribute('class', 'form-group-hidden');
                }
                
            }, false);
	        
	        document.getElementById('input_date_format').addEventListener('change', function(evt) {
                
                var dateFormat = document.getElementById('input_date_format').value;
                
                if(dateFormat === 'byMonth') {
                    document.getElementById('input_start_date').removeAttribute('required');
                    document.getElementById('input_end_date').removeAttribute('required');
                    document.getElementById('input_start_date').parentNode.parentNode.setAttribute('class', 'form-group-hidden');
                    document.getElementById('input_end_date').parentNode.parentNode.setAttribute('class', 'form-group-hidden');
                    
                    document.getElementById('input_month').setAttribute('required', '');
                    document.getElementById('input_month').parentNode.parentNode.setAttribute('class', 'form-group required');
                } else if (dateFormat === 'byDates') {
                    document.getElementById('input_month').removeAttribute('required');
                    document.getElementById('input_month').parentNode.parentNode.setAttribute('class', 'form-group-hidden');
                    
                    document.getElementById('input_start_date').setAttribute('required', '');
                    document.getElementById('input_end_date').setAttribute('required', '');
                    document.getElementById('input_start_date').parentNode.parentNode.setAttribute('class', 'form-group required');
                    document.getElementById('input_end_date').parentNode.parentNode.setAttribute('class', 'form-group required');
                }
                
            }, false);
	        
	        form.addEventListener('submit', function(evt) {
	        	
	        	document.getElementById('button').disabled = true;
                
                evt.preventDefault();
	            
	            var baseUrl = form.getAttribute('action');
	            var outputType = document.getElementById('input_output_type').value;
	            var identifiers = document.getElementById('input_identifiers').value;
	            var idType = document.getElementById('input_id_type').value;
	            var dateFormat = document.getElementById('input_date_format').value;
	            var month = document.getElementById('input_month').value;
	            var startDate = document.getElementById('input_start_date').value;
                var endDate = document.getElementById('input_end_date').value;
                var hoursInAPersonDay = document.getElementById('input_hours_in_a_person_day').value;
	            var issueTypes = document.getElementById('input_issue_types').value;
	            var andClause = document.getElementById('input_and_clause').value;
	            var linksToList = document.getElementById('input_links_to_list').value;
	            var additionalAccounts = document.getElementById('input_additional_accounts').value;
	            var additionalFields = document.getElementById('input_additional_fields').value;
	            var finalUrl;
	            
	            finalUrl = baseUrl + outputType + '/v1/billing/' + idType + '/';
	            
	            if(dateFormat === 'byMonth') {
                    finalUrl = finalUrl + 'byMonth/'
                }
	            
	            finalUrl = finalUrl + '?identifiers=' + identifiers;
	            
	            if(dateFormat === 'byMonth') {
                    finalUrl = finalUrl + '&month=' + month;
                } else if (dateFormat === 'byDates') {
                    finalUrl = finalUrl + '&startDate=' + startDate;
                    finalUrl = finalUrl + '&endDate=' + endDate;
                }
	            
	            finalUrl = finalUrl + '&hoursInAPersonDay=' + hoursInAPersonDay;
	            
	            if(!!issueTypes) {
                    
                    finalUrl = finalUrl + '&issueTypes=' + issueTypes;
                }
	            
	            if(!!andClause) {
                    
                    finalUrl = finalUrl + '&andClause=' + andClause;
                }
	            
	            if(!!linksToList) {
                    
                    finalUrl = finalUrl + '&linksToList=' + linksToList;
                }
	            
                if(!!additionalAccounts && idType === 'byProjects') {
                    
                    finalUrl = finalUrl + '&additionalAccounts=' + additionalAccounts;
                }

                if(!!additionalFields) {

                    finalUrl = finalUrl + '&additionalFields=' + additionalFields;
                }
	            
	            reactivateButton();
	            
	            window.open(finalUrl);
	            
	        }, false);
        })();
    </script>
</body>
</html>
