<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::title}, ~{::section}, ~{::script})}">
<head>
	<title>JASSISTANT - Sprint forecast</title>
</head>
<body>
<section>
	
	<h1>Sprint forecast</h1>

	<form method="get" action="/">
	   <div class="form-group required">
		  <label class="control-label" for="input_projects">Projects</label>
		  <input class="form-control" id="input_projects" name="input_projects" type="text" maxlength="255" required/>
		  <p class="help-block">Please give the short names of the projects you want for the forecast, separated by ','.<br/>e.g.: TST,PROJ</p>
	   </div>
	   <div class="form-group">
		  <label class="control-label" for="input_and_clause">And clause</label>
		  <input class="form-control" id="input_and_clause" name="input_and_clause" type="text" maxlength="255"/>
		  <p class="help-block">Here you can add a clause that will be added to the search query with an AND.<br/>e.g.: stream in (MidTerm, EMPTY)</p>
	   </div>
	   <div class="form-group required">
		  <label class="control-label" for="input_velocity">Forecast velocity</label>
		  <input class="form-control" id="input_velocity" name="input_velocity" type="number" maxlength="255" required/>
		  <p class="help-block">This velocity will be used for the forecast.</p>
	   </div>
	   <div class="form-group required">
		  <label class="control-label" for="input_nr_sprints">Number of sprints</label>
		  <input class="form-control" id="input_nr_sprints" name="input_nr_sprints" type="number" maxlength="255" value="1" required/>
		  <p class="help-block">How many sprints shall be forecast.</p>
	   </div>
		<div class="form-group" th:replace="~{forms/fragments::output(downloadText='CSV file download')}"></div>
	   <div class="form-group">
		  <button class="button button--primary" id="button" type="submit">Send request</button>
	   </div>
	</form>
</section>
<script type="text/javascript">
	function reactivateButton() {
		setTimeout(function(){document.getElementById('button').disabled = false;}, 10000);
	}
	(function() {
	   var form = document.getElementsByTagName('form')[0];

	   form.addEventListener('submit', function(evt) {
		  document.getElementById('button').disabled = true;

		  evt.preventDefault();

		  var baseUrl = form.getAttribute('action');
		  var outputType = document.getElementById('input_output_type').value;
		  var projects = document.getElementById('input_projects').value;
		  var andClause = document.getElementById('input_and_clause').value;
		  var velocity = document.getElementById('input_velocity').value;
		  var nrSprints = document.getElementById('input_nr_sprints').value;
		  var finalUrl;

		  finalUrl = baseUrl + outputType + '/v1/sprintForecast/byProjects/' + projects + '/?forecastedVelocity='
			 + velocity + '&numberOfSprints=' + nrSprints;

		  if(andClause != null && andClause != '') {
			  finalUrl = finalUrl + '&andClause=' + andClause;
		  }

		  reactivateButton();

		  window.open(finalUrl);

	   }, false);
	})();
</script>
</body>
</html>